<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nyit.bfarre01.nyitchallenge" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.FriendsActivity"
            android:label="@string/action_friends"
            android:parentActivityName="edu.nyit.bfarre01.nyitchallenge.MainActivity" >
        </activity>
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="edu.nyit.bfarre01.nyitchallenge.MainActivity" >
        </activity>
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.nyit.bfarre01.nyitchallenge.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName="edu.nyit.bfarre01.nyitchallenge.MainActivity" >
        </activity>
        <activity
            android:name=".ChallengeViewActivity"
            android:label="@string/title_activity_challenge_view"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
